name: sync to artifactory
description: download package from conan center and upload it and dpendency to jfrog artifactory
on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package name'
        required: true
      version:
        description: 'package version'
        required: true
      repository:
        description: 'Choose Artifactory repository'
        required: false
        type: choice
        options:
          - production
          - testing
        default: 'testing'

jobs:
  sync-conan-package:
    runs-on: ubuntu-latest
    env:
      PACKAGE_REF: ${{ github.event.inputs.package }}/${{ github.event.inputs.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Conan
        run: |
          pip install --user conan==2.25.1
          conan --version
          conan profile detect

      - name: Configure Conan remote
        run: |
          if [ "${{ github.event.inputs.repository }}" = "production" ]; then
            conan remote add artifactory https://milvus01.jfrog.io/artifactory/api/conan2/default-conan2-local
          else
            # for testing purpose
            conan remote add artifactory https://milvus01.jfrog.io/artifactory/api/conan2/testing
          fi
          # conancenter is added by default
          conan remote list

      - name: Install package
        run: |
          conan install --requires=$PACKAGE_REF \
          -s compiler=gcc \
          -s compiler.version=11 \
          -s compiler.libcxx=libstdc++11 \
          -s build_type=Release

      - name: inspect installed package
        run: |
          # List installed packages and their revisions
          conan list '*:*'

      - name: Upload
        run: |
          conan remote login artifactory ${{ secrets.JFROG_USERNAME }} -p ${{ secrets.JFROG_PASSWORD }}

          # upload all packages (recipes and binaries)
          conan upload '*' -r artifactory -c
